﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>COVID-19 Texas</title>
    <link href="~/favicon5.ico" rel="shortcut icon" type="image/x-icon" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="image" property="og:image" content="~/bg.JPG">
    <meta name="description" property="og:description" content="COVID-19 Cases and Fatalities by County in Texas. Data provided by Texas Health and Human Services, all data are provisional and subject to change.">
    <meta name="author" content="Jose Cordova">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../assets/css/demo.css" rel="stylesheet" />

    <!-- Leaflet Map -->
    <link rel="stylesheet" href="Content/leaflet.css" />

    <link rel="stylesheet" href="Content/leaflet-search.css" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162846775-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162846775-1');</script>



</head>
    <body>
        @RenderBody()
    </body>

    <!--   Core JS Files   -->
    <script src="../../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Chartist Plugin  -->
    <script src="../../assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
    <!--  jVector Map  -->
    <script src="../../assets/js/plugins/jquery-jvectormap.js" type="text/javascript"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="../../assets/js/plugins/moment.min.js"></script>
    <!--  DatetimePicker   -->
    <script src="../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  Sweet Alert  -->
    <script src="../../assets/js/plugins/sweetalert2.min.js" type="text/javascript"></script>
    <!--  Tags Input  -->
    <script src="../../assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
    <!--  Sliders  -->
    <script src="../../assets/js/plugins/nouislider.js" type="text/javascript"></script>
    <!--  Bootstrap Select  -->
    <script src="../../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--  jQueryValidate  -->
    <script src="../../assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--  Bootstrap Table Plugin -->
    <script src="../../assets/js/plugins/bootstrap-table.js"></script>
    <!--  DataTable Plugin -->
    <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--  Full Calendar   -->
    <script src="../../assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
    <!-- Light Dashboard DEMO methods, don't include it in your project! -->
    <script src="../../assets/js/demo.js"></script>


</html>
