﻿

<style>

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,1.0);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 5px;
            opacity: 1.0;
            border: dotted;
            border-width: thin;
        }
</style>




<div class="row justify-content-center" style="background: rgba(203, 203, 210, 0.15);">
    <div class="col-md-12">
        <div class="container-fluid">

            <div class="row justify-content-center" style="padding-top:30px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Texas COVID-19 Dashboard</h4>
                        </div>
                        <div class="card-body">
                            <ul role="tablist" class="nav nav-tabs">
                                <li role="presentation" class="nav-item show active">
                                    <a class="nav-link" id="info-tab" href="#overallInfo" data-toggle="tab">Cases & Fatalities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-tab" href="#demographics" data-toggle="tab">Demographics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="hospitalization-tab" href="#hospitalization" data-toggle="tab">Hospitalizations</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="overallInfo" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">

                                    <div class="row justify-content-center" style="padding-top:20px;">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-single-copy-04 text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="numbers">
                                                                <p class="card-category">Cases</p>
                                                                <h3 id="cases_title" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div class="stats">
                                                        <i class="fa fa-exclamation-triangle"></i> Total Cases of COVID-19 in Texas
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-fav-remove text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="numbers">
                                                                <p class="card-category">Fatalities</p>
                                                                <h3 id="fatalities_title" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div class="stats">
                                                        <i class="fa fa-exclamation-triangle"></i> Total Fatalities of COVID-19 in Texas
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>


                                    <div class="row justify-content-center">
                                        <div class="col-md-11">
                                            <div class="card ">
                                                <div class="card-header ">
                                                    <h4 class="card-title">COVID-19 Map</h4>
                                                    <p class="card-category">All Cases & Fatalities by County.</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div id="map" style="height:450px;"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="demographics" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab">

                                    <div class="row justify-content-center" style="padding-top:20px;">
                                        <div class="col-md-5">
                                            <div class="card ">
                                                <div class="card-header ">
                                                    <h4 class="card-title">Cases by Gender</h4>
                                                    <p class="card-category">Gender of Confirmed Cases</p>
                                                </div>
                                                <div class="card-body ">
                                                    <div id="canvas-holder" class="ct-chart" style="width:100%; height:250px;">
                                                        <canvas class="chartjs-render-monitor" id="chart-area"></canvas>
                                                    </div>

                                                </div>
                                                <div class="card-footer ">
                                                    <div id="genderLegend" class="legend">
                                                    </div>
                                                    <hr>
                                                    <div id="genderLabel" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="card ">
                                                <div class="card-header ">
                                                    <h4 class="card-title">Cases by Ethnicity</h4>
                                                    <p class="card-category">Ethnicity of Confirmed Cases</p>
                                                </div>
                                                <div class="card-body ">
                                                    <div id="canvas-holder" class="ct-chart" style="width:100%; height:250px;">
                                                        <canvas class="chartjs-render-monitor" id="chart-area-ethnicity"></canvas>
                                                    </div>

                                                </div>
                                                <div class="card-footer ">
                                                    <div id="ethnicityLegend" class="legend">
                                                    </div>
                                                    <hr>
                                                    <div id="ethnicityLabel" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <div class="card ">
                                                <div class="card-header ">
                                                    <h4 class="card-title">Cases by Age Group</h4>
                                                    <p class="card-category">Age of Confirmed Cases</p>
                                                </div>
                                                <div class="card-body ">
                                                    <div id="container" class="ct-chart" style="width:100%; height:400px;">
                                                        <canvas id="canvas"></canvas>
                                                    </div>

                                                </div>
                                                <div class="card-footer ">
                                                    <div id="ageLegend" class="legend">
                                                    </div>
                                                    <hr>
                                                    <div id="ageLabel" class="stats">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="hospitalization" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab">
                                    <div class="row justify-content-center" style="padding-top:20px;">

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-ambulance text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="numbers">
                                                                <p class="card-category">Lab Confirmed COVID-19 Patients Currently in Texas Hospitals</p>
                                                                <h3 id="hospitalization_title" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div id="hospitalizationLabel" class="stats">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-ambulance text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="numbers">
                                                                <p class="card-category">Total Texas Staffed Hospital Beds</p>
                                                                <h3 id="staffedBeds" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div id="staffedLabel" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-ambulance text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="numbers">
                                                                <p class="card-category">Available Texas Hospital Beds</p>
                                                                <h3 id="availableBeds" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div id="availableBedLabels" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-ambulance text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="numbers">
                                                                <p class="card-category">Available Texas ICU Beds</p>
                                                                <h3 id="availableICU" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div id="icuLabels" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="icon-big text-center icon-warning">
                                                                <i class="nc-icon nc-ambulance text-warning"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="numbers">
                                                                <p class="card-category">Available Texas Ventilators</p>
                                                                <h3 id="availableVentilators" class="card-title"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer ">
                                                    <hr>
                                                    <div id="ventilatorLabels" class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                    </div>
                </div>

              




            </div>

        </div>
</div>











<script type="text/javascript" src="Scripts/us-states.js"></script>
<script type="text/javascript" src="Scripts/countyData.js"></script>
<script src="Scripts/leaflet.js"></script>
<script src="Scripts/leaflet-panel-layers.js"></script>
<script src="Scripts/leaflet-search.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="Scripts/jszip.js"></script>
<script src="Scripts/xlsx.js"></script>
<script src="../../assets/js/plugins/Chart.js" type="text/javascript"></script>
<script src="../../assets/js/plugins/Utils.js" type="text/javascript"></script>


<script>

    var filePath = @Html.Raw(Json.Encode(ViewData["FilePath"]));
    var jsonCovid, date_time, total_cases, total_fatalities, total_hospitalizations, genderJSON, ageJSON, ethnicityJSON;

    // ------------------------------ XLSX FILE ------------------------------ //

    /* set up XMLHttpRequest */


    var url = filePath;
    var oReq = new XMLHttpRequest();
    oReq.open("GET", url, true);
    oReq.responseType = "arraybuffer";

    oReq.onload = function (e) {
        // //console.log("load");
        var arraybuffer = oReq.response;

        /* convert data to binary string */
        var data = new Uint8Array(arraybuffer);
        var arr = new Array();
        for (var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
        var bstr = arr.join("");

        /* Call XLSX */
        var workbook = XLSX.read(bstr, { type: "binary" });

        //First Sheet - Cases & Fatalities
        var first_sheet_name = workbook.SheetNames[0];
        var worksheet = workbook.Sheets[first_sheet_name];
        jsonCovid = XLSX.utils.sheet_to_json(worksheet, { raw: true });

        //console.log(jsonCovid);
        date_time = worksheet.A1.v;
        total_cases = jsonCovid[jsonCovid.length - 1].Positive;
        total_fatalities = jsonCovid[jsonCovid.length - 1].Fatalities;

        document.getElementById('cases_title').innerHTML = total_cases;
        document.getElementById('fatalities_title').innerHTML = total_fatalities;

        //Third Sheet - Hospitalization Count
        var third_sheet_name = workbook.SheetNames[3];
        var worksheet3 = workbook.Sheets[third_sheet_name];
        total_hospitalizations = worksheet3.A3.v;
        document.getElementById('hospitalization_title').innerHTML = worksheet3.A3.v;
        document.getElementById('staffedBeds').innerHTML = worksheet3.A5.v;
        document.getElementById('availableBeds').innerHTML = worksheet3.A7.v;
        document.getElementById('availableICU').innerHTML = worksheet3.A9.v;
        document.getElementById('availableVentilators').innerHTML = worksheet3.A11.v;
        

        document.getElementById('hospitalizationLabel').innerHTML = '<i class="fa fa-history"></i> Updated ' + worksheet3.A1.v.toString().split('as of')[1];
        document.getElementById('staffedLabel').innerHTML = '<i class="fa fa-history"></i> Updated ' + worksheet3.A1.v.toString().split('as of')[1];
        document.getElementById('availableBedLabels').innerHTML = '<i class="fa fa-history"></i> Updated ' + worksheet3.A1.v.toString().split('as of')[1];
        document.getElementById('icuLabels').innerHTML = '<i class="fa fa-history"></i> Updated ' + worksheet3.A1.v.toString().split('as of')[1];
        document.getElementById('ventilatorLabels').innerHTML = '<i class="fa fa-history"></i> Updated ' + worksheet3.A1.v.toString().split('as of')[1];




        //Fourth Sheet - Cases by Age Group
        var fourth_sheet_name = workbook.SheetNames[4];
        var worksheet4 = workbook.Sheets[fourth_sheet_name];
        ageJSON = XLSX.utils.sheet_to_json(worksheet4, { raw: true });
        var ageUpdateLabel = worksheet4.A1.v;
        ageUpdateLabel = ageUpdateLabel.toString().split('as of')[1];
        document.getElementById('ageLabel').innerHTML = '<i class="fa fa-history"></i> Updated' + ageUpdateLabel;
        document.getElementById('ageLegend').innerHTML = ageJSON[ageJSON.length - 2]['Age Group'] + " " + ageJSON[ageJSON.length - 1]['Age Group'];
        

        //Fifth Sheet - Cases by Gender
        var fifth_sheet_name = workbook.SheetNames[5];
        var worksheet5 = workbook.Sheets[fifth_sheet_name];
        genderJSON = XLSX.utils.sheet_to_json(worksheet5, { raw: true });
        var genderUpdateLabel = worksheet5.A1.v;
        genderUpdateLabel = genderUpdateLabel.toString().split('as of')[1];
        document.getElementById('genderLabel').innerHTML = '<i class="fa fa-history"></i> Updated' + genderUpdateLabel;
        document.getElementById('genderLegend').innerHTML = genderJSON[genderJSON.length - 2].Gender + " " + genderJSON[genderJSON.length - 1].Gender;
        

        //Sixth Sheet - Cases by Ethnicity
        var sixth_sheet_name = workbook.SheetNames[6];
        var worksheet6 = workbook.Sheets[sixth_sheet_name];
        ethnicityJSON = XLSX.utils.sheet_to_json(worksheet6, { raw: true });
        var ethnicityUpdateLabel = worksheet6.A1.v;
        ethnicityUpdateLabel = ethnicityUpdateLabel.toString().split('as of')[1];
        document.getElementById('ethnicityLabel').innerHTML = '<i class="fa fa-history"></i> Updated' + ethnicityUpdateLabel;
        document.getElementById('ethnicityLegend').innerHTML = ethnicityJSON[ethnicityJSON.length - 2]['Race/Ethnicity'] + " " + ethnicityJSON[ethnicityJSON.length - 1]['Race/Ethnicity'];
        //console.log(ethnicityJSON);

        // ------------------------------ MAP ------------------------------ //

        var map = L.map('map').setView([31.000000, -100.000000], 6);
        var osmUrl = 'https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}';
        var subdom = ['mt0', 'mt1', 'mt2', 'mt3'];
        osm = new L.TileLayer(osmUrl, { minZoom: 1, maxZoom: 18, subdomains: subdom });
        BaseMaps = { "BaseMap": osm };
        map.addLayer(osm);
        var geojsonCases, geojsonFatalities, geojsonMortality;
        var listOfClicks = [];
        var legend;

        map.attributionControl.addAttribution('Created by <a target="_blank"  href="https://www.linkedin.com/in/cordovaorlando/">Jose Cordova</a> | Powered by <a target="_blank"  href="https://leafletjs.com/">Leaflet</a> & <a target="_blank"  href="https://aws.amazon.com/">AWS</a>  | COVID-19 Data by <a target="_blank"  href="https://www.dshs.state.tx.us/">TX Department of State Health Services</a>');

        // get color depending on population density value

        function getColor(d, legendname) {

            if (legendname == 'Cases') {
                return d > 1000 ? '#7f2704' :
                    d > 500 ? '#d94801' :
                        d > 300 ? '#f16913' :
                            d > 100 ? '#fd8d3c' :
                                d > 50 ? '#fdae6b' :
                                    d > 1 ? '#fdd0a2' :
                                        '#fff5f0';

            } else if (legendname == 'Fatalities') {
                return d > 15 ? '#67000d' :
                    d > 10 ? '#cb181d' :
                        d > 5 ? '#fb6a4a' :
                            d > 0 ? '#fcbba1' :
                                '#fff5f0';

            } else if (legendname == 'Mortality Rate') {
                ////console.log(d);
                //if (d == NaN || d == undefined) {
                //    d = 0;
                //} else {
                //    d = d.toString().replace('%', '');
                //    d = parseInt(d);
                //    //console.log(d);
                //}

                return d > 15 ? '#67000d' :
                    d > 10 ? '#cb181d' :
                        d > 5 ? '#fb6a4a' :
                            d > 0 ? '#fcbba1' :
                                '#fff5f0';
            }

        }

        function styleCases(feature) {
            var cases;

            if (jsonCovid != undefined && feature != undefined) {
                for (var i = 0; i < jsonCovid.length; i++) {
                    if (jsonCovid[i].County == feature.properties.COUNTY) {
                        //fatalities = jsonCovid[i].Fatalities;
                        cases = jsonCovid[i].Positive;
                    }
                }
            }

            return {
                weight: 2,
                opacity: 1,
                color: 'black',
                dashArray: '3',
                fillOpacity: 1.0,
                fillColor: getColor(cases, 'Cases')
            };
        }

        function styleFatalities(feature) {
            var fatalities;

            if (jsonCovid != undefined && feature != undefined) {
                for (var i = 0; i < jsonCovid.length; i++) {
                    if (jsonCovid[i].County == feature.properties.COUNTY) {
                        //fatalities = jsonCovid[i].Fatalities;
                        fatalities = jsonCovid[i].Fatalities;
                    }
                }
            }

            return {
                weight: 2,
                opacity: 1,
                color: 'black',
                dashArray: '3',
                fillOpacity: 1.0,
                fillColor: getColor(fatalities, 'Fatalities')
            };
        }

        function styleMortality(feature) {
            var mortality;

            if (jsonCovid != undefined && feature != undefined) {
                for (var i = 0; i < jsonCovid.length; i++) {
                    if (jsonCovid[i].County == feature.properties.COUNTY) {
                        var fatalities = jsonCovid[i].Fatalities;
                        var cases = jsonCovid[i].Positive;
                        if (cases != undefined && fatalities != undefined) {
                            mortality = (fatalities / cases) * 100;

                        }

                    }
                }
            }

            return {
                weight: 2,
                opacity: 1,
                color: 'black',
                dashArray: '3',
                fillOpacity: 1.0,
                fillColor: getColor(mortality, 'Mortality Rate')
            };
        }

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 4,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }

        function highlightFeatureMobileCases(e) {

            if (listOfClicks.length > 0) {

                for (var i = 0; i < listOfClicks.length; i++) {
                    geojsonCases.resetStyle(listOfClicks[i].target);
                }

            }

            ////console.log(e.target.feature.properties.COUNTY);
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
            //oldClick = e;
            listOfClicks.push(e);
        }

        function highlightFeatureMobileFatalities(e) {

            if (listOfClicks.length > 0) {

                for (var i = 0; i < listOfClicks.length; i++) {
                    geojsonMortality.resetStyle(listOfClicks[i].target);
                }

            }

            ////console.log(e.target.feature.properties.COUNTY);
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
            //oldClick = e;
            listOfClicks.push(e);
        }

        function highlightFeatureMobileMortality(e) {

            if (listOfClicks.length > 0) {

                for (var i = 0; i < listOfClicks.length; i++) {
                    geojsonMortality.resetStyle(listOfClicks[i].target);
                }

            }

            ////console.log(e.target.feature.properties.COUNTY);
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
            //oldClick = e;
            listOfClicks.push(e);
        }



        function resetHighlightCases(e) {
            geojsonCases.resetStyle(e.target);
            info.update();
        }

        function resetHighlightFatalities(e) {
            geojsonFatalities.resetStyle(e.target);
            info.update();
        }


        function resetHighlightMortality(e) {
            geojsonMortality.resetStyle(e.target);
            info.update();
        }


        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }


        function onEachFeatureCases(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlightCases,
                click: highlightFeatureMobileCases
            });
        }

        function onEachFeatureFatalities(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlightFatalities,
                click: highlightFeatureMobileFatalities
            });
        }

        function onEachFeatureMortality(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlightMortality,
                click: highlightFeatureMobileMortality
            });
        }

        function addLegend(baselayer) {

            if (legend != undefined) {
                map.removeControl(legend);
            }

            legend = L.control({ position: 'bottomright' });

            if (baselayer == 'Cases') {

                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info legend leaflet-control'),
                        grades = [0, 1, 50, 100, 300, 500, 1000],
                        labels = ['<strong> No. of Cases</strong>'],
                        from, to;

                    for (var i = 0; i < grades.length; i++) {
                        from = grades[i];
                        to = grades[i + 1];

                        if (i == 0) {
                            labels.push(
                                '<i style="background:##fff5eb"></i>undefined');
                        } else {

                            labels.push(
                                '<i style="background:' + getColor(from + 1, baselayer) + '"></i> ' +
                                from + (to ? '&ndash;' + to : '+'));
                        }


                    }
                    div.innerHTML = labels.join('<br>');
                    return div;
                };

                legend.addTo(map);


            } else if (baselayer == 'Fatalities') {

                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info legend leaflet-control'),
                        grades = [0, 1, 5, 10, 15],
                        labels = ['<strong> No. of Fatalities</strong>'],
                        from, to;

                    for (var i = 0; i < grades.length; i++) {
                        from = grades[i];
                        to = grades[i + 1];

                        if (i == 0) {
                            labels.push(
                                '<i style="background:##fff5eb"></i>undefined');
                        } else {

                            labels.push(
                                '<i style="background:' + getColor(from + 1, baselayer) + '"></i> ' +
                                from + (to ? '&ndash;' + to : '+'));
                        }


                    }
                    div.innerHTML = labels.join('<br>');
                    return div;
                };

            legend.addTo(map);

        } else if (baselayer == 'Mortality Rate') {

            legend.onAdd = function (map) {
                var div = L.DomUtil.create('div', 'info legend leaflet-control'),
                    grades = [0, 1, 5, 10, 15],
                    labels = ['<strong>Mortality Rate</strong>'],
                    from, to;

                for (var i = 0; i < grades.length; i++) {
                    from = grades[i];
                    to = grades[i + 1];

                    if (i == 0) {
                        labels.push(
                            '<i style="background:##fff5eb"></i>undefined');
                    } else {

                        labels.push(
                            '<i style="background:' + getColor(from + 1, baselayer) + '"></i> ' +
                            from + (to  ? '%&ndash;' + to + "%" : "% +"));
                    }


                }
                div.innerHTML = labels.join('<br>');
                return div;
            };

            legend.addTo(map);

        }



    }

        geojsonCases = L.geoJson(countyData, {
            style: styleCases,
            onEachFeature: onEachFeatureCases
        }).addTo(map);

        geojsonFatalities = L.geoJson(countyData, {
            style: styleFatalities,
            onEachFeature: onEachFeatureFatalities
        });

        geojsonMortality = L.geoJson(countyData, {
            style: styleMortality,
            onEachFeature: onEachFeatureMortality
        });

        //geojsonFatalities = geojson;

        original = L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map);


        //Add Search Control

        var searchControl = new L.Control.Search({
            layer: geojsonCases,
            propertyName: 'COUNTY',
            marker: false,
            moveToLocation: function (latlng, title, map) {
                var zoom = map.getBoundsZoom(latlng.layer.getBounds());
                map.setView(latlng, zoom);
            }
        });

        searchControl.on('search:locationfound', function (e) {


            e.layer.setStyle({ fillColor: '#3f0', color: '#0f0' });
            if (e.layer._popup)
                e.layer.openPopup();

        }).on('search:collapsed', function (e) {

            geojsonCases.eachLayer(function (layer) {
                geojsonCases.resetStyle(layer);
            });
        });

        map.addControl(searchControl);

        map.addControl(new L.Control.Fullscreen());

        var baseLayers = {
            " Cases": geojsonCases,
            " Fatalities": geojsonFatalities,
            " Mortality Rate": geojsonMortality
        };


        controlLayers = L.control.layers(baseLayers).setPosition('topleft');
        map.addControl(controlLayers);

        addLegend("Cases");
        map.on('baselayerchange', function (eventLayer) {

            if (eventLayer.name.toString().trim() == 'Cases') {
                addLegend("Cases");
            } else if (eventLayer.name.toString().trim() == 'Fatalities') {
                addLegend("Fatalities");
            } else if (eventLayer.name.toString().trim() == 'Mortality Rate') {
                addLegend("Mortality Rate");
            }

        });

        var infoTitle = L.control({ position: 'topright' });
        infoTitle.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info legend'),
                labels = [];

            labels.push('<b>' + date_time + '</b>');
            div.innerHTML = labels.join('<br>');
            return div;
        };
        infoTitle.addTo(map);

        // control that shows state info on hover

        var info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (props) {

            var fatalities;
            var cases;
            var mortality;

            if (jsonCovid != undefined && props != undefined) {
                for (var i = 0; i < jsonCovid.length; i++) {
                    if (jsonCovid[i].County == props.COUNTY) {
                        fatalities = jsonCovid[i].Fatalities;
                        cases = jsonCovid[i].Positive;

                        mortality = ((fatalities / cases) * 100).toFixed(1);

                    }
                }
                if (mortality != undefined) {
                    mortality = mortality.toString() + '%'
                }

                this._div.innerHTML = '<h4>Texas COVID-19</h4>' + (props ?
                    '<b>' + props.COUNTY + ' County </b><br /> No. of Cases: ' + cases + '<br /> No. of Fatalities: ' + fatalities + '<br /> Mortality Rate: ' + mortality
                    : 'Hover over a county');

            } else {

                this._div.innerHTML = '<h4>Texas COVID-19</h4>Hover/Click Over a County</h4>';

            }

        };
        info.addTo(map);



        //Age Pie Chart
        //console.log(genderJSON)
        var genderData = [];
        var genderLabels = [];
        for (var i = 0; i < genderJSON.length - 3; i++) {
            genderLabels.push(genderJSON[i]['Gender']);
            genderData.push((genderJSON[i].Percentage * 100).toFixed(2));
        }

        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: genderData,
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.grey,
                    ],
                    label: 'Cases by Gender'
                }],
                labels: genderLabels
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    arc: {
                        borderWidth: 0
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var labels = data.labels[tooltipItem.index];
                            var currentValue = dataset.data[tooltipItem.index];
                            return labels + ": " + currentValue + "%";
                        }
                    }
                }
            }
        };

        //chart - area - ethnicity
        //Ethnicity Pie Chart

        var ethnicityData = [];
        var ethnicityLabels = [];
        for (var i = 0; i < ethnicityJSON.length - 3; i++) {
            ethnicityLabels.push(ethnicityJSON[i]['Race/Ethnicity']);
            ethnicityData.push((ethnicityJSON[i].Percentage * 100).toFixed(2));
        }

        var config2 = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: ethnicityData,
                    backgroundColor: [
                        window.chartColors.blue,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.grey,
                    ],
                    label: 'Cases by Ethnicity'
                }],
                labels: ethnicityLabels
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    arc: {
                        borderWidth: 0
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var labels = data.labels[tooltipItem.index];
                            var currentValue = dataset.data[tooltipItem.index];
                            return labels + ": " + currentValue + "%";
                        }
                    }
                }
            }
        };


        //Bar Chart
        var ageGroups = [];
        var ageCounts = [];
        for (var i = 0; i < ageJSON.length - 3; i++) {
            ageGroups.push(ageJSON[i]['Age Group']);
            ageCounts.push(ageJSON[i].Count);
        }

        var color = Chart.helpers.color;
        var barChartData = {
            labels: ageGroups,
            datasets: [{
                label: 'Count',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: ageCounts
            }]

        };



        
            var ctxPie = document.getElementById('chart-area').getContext('2d');
            myPie = new Chart(ctxPie, config);

            var ctxPie2 = document.getElementById('chart-area-ethnicity').getContext('2d');
            myPie2 = new Chart(ctxPie2, config2);


            var ctxBar = document.getElementById('canvas').getContext('2d');
            myBar = new Chart(ctxBar, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {
                        arc: {
                            borderWidth: 0
                        }
                    },

                    title: {
                        display: false,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });
        







    }






    oReq.send();











</script>